# Data Types in Python

### Data Types are:-

1. String
2. Numeric
    1. Integer
    2. Float
3. Boolean
4. None 
5. Collection
    1. List
    2. Tuple
    3. Dictionary
    4. Set

# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello" to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).



In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting
    7.) etc...

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [12]:
# Single word
'hello'

'hello'

In [9]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [3]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [16]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (2053197537.py, line 2)

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [17]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [18]:
# Or the Same code can be writtern by using excape character '\' (backward slash)

'Now I\'m ready to use the single quotes inside a string!'

"Now I'm ready to use the single quotes inside a string!"

In [19]:
# We can simply declare a string
'Hello World'

'Hello World'

In [23]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [15]:
print('Hello World 1')
print('Hello World 2')
print('Use \nto print a new line')        # \n (backward slash n)is used to print in next line
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [3]:
len('Hello\' World')

12

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [24]:
# Assign s as a string
s = 'Hello World'

In [25]:
#Check
s

'Hello World'

In [26]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [29]:
# Show first element (in this case a letter)
s[len(s)-1]

'd'

In [14]:
s[1]

'e'

In [15]:
s[2]

'l'

We can use a <code>:</code> colon to perform *slicing* which grabs everything up to a designated point. For example:

In [31]:
s

'Hello World'

In [34]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [15]:
# Note Indexing does not affects the original data
s

'Hello World'

In [101]:
s[3:]

'lo World'

In [18]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [36]:
s[:]

'Hello World'

In [37]:
#Everything
s[0:len(s)]

'Hello World'

We can also use negative indexing to go backwards.

In [20]:
s

'Hello World'

In [21]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [3]:
# Grab everything but except the last letter
s[:-1]

'Hello Worl'

In [4]:
data = 'i am Jeevan'

In [23]:
data[-6:]

'Jeevan'

In [22]:
data[5:]

'Jeevan'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [24]:
# Grab everything, but go in steps size of 1
s[::1]                                   # By default the step size is 1    [start:stop:step]

'Hello World'

In [49]:
# Grab everything, but go in step sizes of 2
s[1::2]

'el ol'

In [24]:
# We can use this to print a string backwards (reverse order)
s[::-1]

'dlroW olleH'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [50]:
s

'Hello World'

In [51]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [29]:
s

'Hello World'

In [52]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [55]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [56]:
print(s)

Hello World concatenate me!

In [57]:
s

'Hello World concatenate me!'

We can use the multiplication symbol to create repetition!

In [59]:
data = 'I Love My Students '

In [60]:
data * 10

'I Love My Students I Love My Students I Love My Students I Love My Students I Love My Students I Love My Students I Love My Students I Love My Students I Love My Students I Love My Students '

###  Now will work on string function

In [66]:
Name='Jeevan Raj'
print(Name)

Jeevan Raj

In [67]:
# Upper Case 
Name.upper()       # It won't affect your original string

'JEEVAN RAJ'

In [68]:
# Lower case
Name.lower()       # It won't affect your original string

'jeevan raj'

In [69]:
# Title (Every starting letter in upper case rest lower case)
Name.title()

'Jeevan Raj'

In [71]:
# Capitalize first word in string
Name.capitalize()

'Jeevan raj'

In [72]:
Name

'Jeevan Raj'

In [74]:
# Split a string by blank space  (this is the default)
Name.split(' ')

['Jeevan', 'Raj']

In [9]:
# Split by a specific element (doesn't include the element that was split on)
Name.split('R')

['Jeevan ', 'aj']

### Location and Counting

In [51]:
Name

'Jeevan Raj'

In [14]:
Name.count('e')          # Returns the number of occurrences

2

In [15]:
Name.find('e')        # Returns the strating index position of the first occurrences

1

In [16]:
Name.rfind('e')     # Returns the last index position of the last occurrence  (rfind-Right most index in string)

2

In [111]:
language='English'

In [105]:
# isalnum()      will return True if all characters in language are alphanumeric (should be alphabetic or numeric but it should not contain any special char)

language.isalnum()

True

In [108]:
a='Jeevan'

In [112]:
# isalpha()      will return True if all characters in language are alphabetic 

language.isalpha()

True

In [113]:
# islower()    will return True if all characters in language are lowercase and there is at least one 
language.islower()

False

In [114]:
language

'English'

In [118]:
language = '3'

In [119]:
# isdigit()     will return True if all characters in language are is digit
language.isdigit()

True

In [120]:
# isspace()    will return True if all characters in language are whitespace

language.isspace()

False

In [121]:
# istitle()   will return True if ever first letter in upper case and rest in lower case

language.istitle()

False

In [122]:
# isupper()     will return True if every letter in upper case

language.isupper()

False

In [44]:
# Remove Whitespace
## The Strip() method removes any whitespace from the beginning or the end  
### Note. Strip() doesn't affect the original data


a=' Jeevan Raj   '
print(a,'The Length of a is =',len(a))
print(a.strip(),'After removing the white space the length of a is =',len(a.strip()))

 Jeevan Raj    The Length of a is = 14
Jeevan Raj After removing the white space the length of a is = 10

In [124]:
# Replace String
# The replace() method replaces a string with another string

Name = 'varun'
print(Name.replace('v','t'))

tarun

In [126]:
## String concatenation

a='Jeevan'
b='Shravani'
c= a+b
print(c)

JeevanShravani

In [127]:
# To add space between them, add ' '
a='Jeevan'
b='Shravani'
c= a +' '+ b
print(c)

Jeevan Shravani

In [136]:
# We cannot combine string and numbers like this it throws an error

age = 25
txt = 'My Name is Jeevan, I am' + age

TypeError: can only concatenate str (not "int") to str

### To overcome error we use format() method

### The format() method takes the passed arguments, formats them, and place them in the string where the placeholders {} are

In [137]:
# We are using format() method to insert numbers into string

age = 25
txt = 'My Name is Jeevan, I am {}'
print(txt.format(age))

My Name is Jeevan, I am 25

In [139]:
place='Bangalore'

In [140]:
print(f'I am Jeevan and my Age = ',age,'and i am from =',place)

I am Jeevan and my Age =  25 and i am from = Bangalore

In [141]:
print(f'I am Jeevan and my age = {age} and i am from {place}')

I am Jeevan and my age = 25 and i am from Bangalore

Another method is <code>endswith()</code> which is essentially the same as a boolean check on <code>s[-1]</code>

In [142]:
language = 'Python'

In [143]:
language.endswith('n')

True

In [144]:
language.startswith('Py')

True

In [146]:
info = 'I am Jeevan Raj i am Datascience coach I love my Students'

info.split()

['I', 'am', 'Jeevan', 'Raj', 'i', 'am', 'Datascience', 'coach']

In [150]:
info.partition('am')  # Partition divides data in to 3 sentences

('I ', 'am', ' Jeevan Raj i am Datascience coach')

### checking length of the string

In [77]:
# The len() function returns the length of a string

print(info)
print(len(info))

I am Jeevan Raj i am Datascience coach
38

### Check String

In [151]:
# To check if a certain phrase or character is present in a string, we can use the keyword in.

# we are checking if 'Datascience' is present in the following text:
print(info)
print('Datascience' in info)

I am Jeevan Raj i am Datascience coach
True

In [78]:
# The other way of writing the code is by using conditional statement

if 'Datascience' in info:
    print('Yes, "Datascience" is Present')
else:
    print('its not present')

Yes, "Datascience" is Present

In [163]:
# we are checking if 'Hard worker' is present in the following text:
print(info)
print('Hard worker' not in info)

I am Jeevan Raj i am Datascience coach
True

## Numbers in Python

In [155]:
a = 20
print(a)
print(type(a))

20
<class 'int'>

In [80]:
a=10.5
print(a)
print(type(a))

10.5
<class 'float'>

In [158]:
# Always it works on BODMAS Rules

print('(2+10) * (10+3) =',(2+10) * (10+3))
print('2+2/2 =',2+2/2)

(2+10) * (10+3) = 156
2+2/2 = 3.0

#### will study more about number while learning operators

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans.

In [159]:
# Set object to be a boolean
a = True

In [160]:
type(a)

bool

In [173]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [162]:
# Output is boolean
1 < 2

True

We can use None as a placeholder for an object that we don't want to reassign yet:

In [84]:
# None placeholder
b = None

In [85]:
# Show
print(b)

None

# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, **they are mutable, meaning the elements inside a list can be changed!**

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) etc..
   

Lists are constructed with brackets [ ] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [177]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types such as int,float, string, boolean objects, etc which makes it heterogeneous

In [197]:
my_list = ['A string',23,100.232,'o',True]
my_list

['A string', 23, 100.232, 'o', True]

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [88]:
len(my_list)

5

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [198]:
my_list = ['one','two','three',4,5,True]

In [91]:
type(my_list)

list

In [92]:
my_list[0]

'one'

In [90]:
# Grab element at index 0
type(my_list[0])

str

In [196]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5, True]

In [7]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use + to concatenate lists, just like we did for strings.

In [199]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, True, 'new item']

Note: This doesn't actually change the original list!

In [200]:
my_list

['one', 'two', 'three', 4, 5, True]

You would have to reassign the list to make the change permanent.

In [201]:
# Reassign
my_list = my_list + ['add new item permanently']

In [202]:
my_list

['one', 'two', 'three', 4, 5, True, 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [203]:
# Make the list double
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 True,
 'add new item permanently',
 'one',
 'two',
 'three',
 4,
 5,
 True,
 'add new item permanently']

In [16]:
# Again doubling not permanent
my_list

['one', 'two', 'three', 4, 5, 'add new item permanently']

#### Let's go ahead and explore some more special methods for lists:

In [204]:
# Create a new list
list1 = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [205]:
# Append
list1.append('append me!')

In [206]:
# Show
list1

[1, 2, 3, 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [207]:
list1.pop()

'append me!'

In [208]:
list1

[1, 2, 3]

In [209]:
# Pop off the 0 indexed item
list1.pop(1)

2

In [210]:
# Show
list1

[1, 3]

In [211]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [212]:
popped_item

3

In [213]:
# Show remaining list
list1

[1]

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [216]:
list1[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [217]:
new_list = ['a','e','x','b','c']

In [218]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [219]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [220]:
new_list

['c', 'b', 'x', 'e', 'a']

In [222]:
new_list = new_list[::-1]

In [223]:
new_list

['a', 'e', 'x', 'b', 'c']

In [224]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()         # sort will affect the original list

In [225]:
new_list

['a', 'b', 'c', 'e', 'x']

In [226]:
# For Numeric Sorting
c
print(num_list)

[-44, 0, 2, 12, 43]

In [227]:
new_list.sort(reverse=True)

In [228]:
new_list

['x', 'e', 'c', 'b', 'a']

## Nesting Lists
A great feature of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [235]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [236]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [258]:
a = [1,2,3]
b = [4,5,6,'raj']
c = [7,8,9,'G1']
new_list = [a,b,c]

In [259]:
new_list

[[1, 2, 3], [4, 5, 6, 'raj'], [7, 8, 9, 'G1']]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [257]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [259]:
# Grab first item of the first item in the matrix object
matrix[0][1]

2

In [264]:
data = [[1,3,5],['Jeevan','Shravani']]
data[1][1][::-1]

'inavarhS'

### append

append: appends whole object at end:

In [271]:
list1 = [1,2,3]

In [272]:
list1.append(4)

list1

[1, 2, 3, 4]

In [273]:
list1.append([2,3])

In [274]:
list1

[1, 2, 3, 4, [2, 3]]

In [275]:
list1.pop()

[2, 3]

In [276]:
list1

[1, 2, 3, 4]

### count

In [277]:
list1.count(3)

1

### extend

Many times people find the difference between extend and append to be unclear. So note:

**append: appends whole object at end:**           
**extend: extends list by appending elements from the iterable:**

In [278]:
x = [1, 2, 3]
x.append([4, 5,3])
print(x)

[1, 2, 3, [4, 5, 3]]

In [279]:
x = [1, 2, 3]
x.extend([4, 5, 3])
print(x)

[1, 2, 3, 4, 5, 3]

In [272]:
x.count(3)

2

## index
<code>index()</code> will return the index of whatever element is placed as an argument. Note: If the  element is not in the list an error is raised.

In [273]:
list1

[1, 2, 3, 4]

In [282]:
list1.index(4)

3

In [283]:
list1.index(12)

ValueError: 12 is not in list

## insert 
<code>insert()</code> takes in two arguments: <code>insert(index,object)</code> This method places the object at the index supplied. For example:

In [303]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [304]:
# Place a letter at the index 2
list1.insert(2,'inserted')

In [305]:
list1

[1, 2, 'inserted', 3, 4]

In [296]:
list1

[1, 2, 'inserted', 3, 4]

In [287]:
data = [[1,3,5],['Jeevan','Shravani']]
data[0].insert(1,2)

append,insret,extend

In [303]:
data

[[1, 2, 3, 5], ['Jeevan', 'Shravani']]

In [306]:
# this will throw you an error so don't fallow this code
lis = [1,2,3]                            
lis.insert(2,lis.extend([2,3,4]))

In [305]:
lis

[1, 2, None, 3, 2, 3, 4]

In [289]:
data = [1,2,3,4,5]
data[3:3] = [8,9,10]
data

[1, 2, 3, 8, 9, 10, 4, 5]

In [293]:
data.pop(5)

10

In [294]:
data

[1, 2, 3, 8, 9, 4, 5]

## pop
You most likely have already seen <code>pop()</code>, which allows us to "pop" off the last element of a list. However, by passing an index position you can remove and return a specific element.

In [306]:
element = list1.pop(1)  # pop the second element

In [307]:
list1

[1, 'inserted', 3, 4]

In [308]:
element

2

## remove
The <code>remove()</code> method removes the first occurrence of a value. For example:

In [309]:
list1

[1, 'inserted', 3, 4]

In [310]:
list1.remove('inserted')

In [311]:
list1

[1, 3, 4]

In [312]:
list2 = [1,2,3,4,3]

In [313]:
list2.remove(3)         # remove will remove first value

In [314]:
list2

[1, 2, 4, 3]

## Delete
del can be used to delete a single index of a list, a slice of a list, or the complete list.

In [315]:
list3=[1,4,6,2,6,1]      # deleting perticular element in a list using index
del list3[1]

In [316]:
list3

[1, 6, 2, 6, 1]

In [317]:
del list3[1:3]           # deleting few elments using slicing
list3

[1, 6, 1]

In [318]:
del list3                # if you are not mentioning any index it will delet the entire list

In [319]:
list3

NameError: name 'list3' is not defined

### Clear 
clear will remove the element that are present in the list     
The list still remains, but it has no content

In [320]:
lis = [1,2,3,4]
lis.clear()
print(lis)

[]

## reverse
As you might have guessed, <code>reverse()</code> reverses a list. Note this occurs in place! Meaning it affects your list permanently.

In [328]:
list2.reverse()

In [329]:
list2

[3, 4, 2, 1]

## sort
The <code>sort()</code> method will sort your list in place:

In [330]:
list2=[1,4,3,2]

In [331]:
list2

[1, 4, 3, 2]

In [332]:
list2.sort()

In [333]:
list2

[1, 2, 3, 4]

The <code>sort()</code> method takes an optional argument for reverse sorting. Note this is different than simply reversing the order of items.

In [334]:
list2.sort(reverse=True)

In [335]:
list2

[4, 3, 2, 1]

#### List is Mutable (Once one of these object is creaeted, it can be modified)

In [336]:
lis = ['Apple','Banana','Mango']
lis[1] = 'Grapes'
print(lis)

['Apple', 'Grapes', 'Mango']

In [338]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon",'Grapes','Mango']
print(thislist)

['apple', 'watermelon', 'Grapes', 'Mango']

# Tuples

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

## Constructing Tuples

The construction of a tuples use () Parentheses with elements separated by commas. For example:

In [321]:
# Create a tuple
t = (1,2,3)

In [322]:
m=('Jeevan',3,True)

In [323]:
bool(0)

False

In [324]:
bool(3)

True

In [325]:
type(m)

tuple

In [326]:
m

('Jeevan', 3, True)

In [345]:
for i in m:
    print(i)

Jeevan
3
True

In [340]:
m

('Jeevan', 3, True)

In [107]:
for index,values in enumerate(m):
    print(index,'------>',values)

0 ------> Jeevan
1 ------> 3
2 ------> True

In [108]:
# If you want to know the index and value you can use enumerate function (for both list and tuple)
for i,j in enumerate(t):
    print(i,':',j)

0 : 1
1 : 2
2 : 3

In [346]:
len(m)

3

In [347]:
# Check len just like a list
len(t)

3

In [348]:
# Can also mix object types because it is hetrogeneous
t = ('one',2)

# Show
t

('one', 2)

In [349]:
# Use indexing just like we did in lists
t[0]

'one'

In [350]:
# Slicing just like a list
t[-1]

2

## Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [351]:
m

('Jeevan', 3, True)

In [352]:
m.index('Jeevan')

0

In [353]:
t

('one', 2)

In [354]:
# Use .index to enter a value and return the index
t.index('one')

0

In [355]:
# Use .count to count the number of times a value appears
t.count('one')

1

## Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [356]:
t=(12,3,4)
t.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [120]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

In [121]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

## When to use Tuples

You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

Up next Files!

# Dictionaries

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

A Python dictionary consists of a key and then an associated value. 

## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!
Make a dictionary with {}(curly brasis) and : to signify a key and a value

### Syntax

my_dict = {'key1':'value1','key2':'value2'}

in dictionary always you are fetching the values from key rather than indexing

In [343]:
my_dict = {'key1':'value1','key2':'value2'}

In [344]:
# Call values by their key
my_dict['key2']

'value2'

In [350]:
# To extract all the keys
my_dict.keys()

dict_keys(['key1', 'key2'])

In [363]:
# To extract all the values
my_dict.values()

dict_values(['value1', 'value2'])

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [354]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [355]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [4]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [5]:
my_dict['key3'][0][-2]

'm'

In [6]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well. For instance:

In [7]:
my_dict['key1']

123

In [8]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [9]:
#Check
my_dict['key1']

0

In [10]:
my_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [358]:
# Create a new dictionary
d = {}

In [359]:
type(d)

dict

In [13]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [14]:
d

{'animal': 'Dog'}

In [15]:
# Can do this with any object
d['answer'] = 42

In [16]:
#Show
d

{'animal': 'Dog', 'answer': 42}

In [360]:
# Create a new key through assignment
info ={}

In [361]:
info['Students'] =['Darshan','Manju','Hari','Tarun','Reshma']

In [362]:
info['Marks']=[85,90,91,99,100]

In [363]:
info

{'Students': ['Darshan', 'Manju', 'Hari', 'Tarun', 'Reshma'],
 'Marks': [85, 90, 91, 99, 100]}

In [364]:
info['Marks'][0]=90

In [366]:
info['Marks'][-1] = 30

In [367]:
info

{'Students': ['Darshan', 'Manju', 'Hari', 'Tarun', 'Reshma'],
 'Marks': [90, 90, 91, 99, 30]}

In [365]:
info

{'Students': ['Darshan', 'Manju', 'Hari', 'Tarun', 'Reshma'],
 'Marks': [90, 90, 91, 99, 100]}

In [368]:
info['details']=['Pass','Fail']

In [369]:
info

{'Students': ['Darshan', 'Manju', 'Hari', 'Tarun', 'Reshma'],
 'Marks': [90, 90, 91, 99, 30],
 'details': ['Pass', 'Fail']}

## Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [371]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'},'nestkey2':[1,2,3]}}

In [45]:
d['key1']['nestkey2'][1]

2

In [27]:
d['key1']['nestkey2']

[1, 2, 3]

Let's see how we can grab that value:

In [158]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey'][-1]

'e'

In [159]:
d['key1']['nestkey2']

[123]

## A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [46]:
# Create a typical dictionary
d = {'key1':[1,23,56],'key2':2,'key3':3}

In [48]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [49]:
# Method to grab all values
d.values()

dict_values([[1, 23, 56], 2, 3])

In [50]:
# Method to grab both key and value in the form of tuple
d.items()

dict_items([('key1', [1, 23, 56]), ('key2', 2), ('key3', 3)])

In [379]:
info

{'Students': ['Darshan', 'Manju', 'Hari', 'Tarun', 'Reshma'],
 'Marks': [90, 90, 91, 99, 30],
 'details': ['Pass', 'Fail']}

In [166]:
print(info)
dict(zip(info['Students'],info['Marks']))

{'Students': ['Darshan', 'Manju', 'Hari', 'Tarun', 'Reshma'], 'Marks': [90, 90, 91, 99, 100], 'details': ['Pass', 'Fail']}

{'Darshan': 90, 'Manju': 90, 'Hari': 91, 'Tarun': 99, 'Reshma': 100}

In [381]:
info['Students'].append('Manoj')

In [382]:
# Manoj information is not displayed because we dont have marks for him
print(len(info['Students']))
print(len(info['Marks']))
dict(zip(info['Students'],info['Marks']))

7
5

{'Darshan': 90, 'Manju': 90, 'Hari': 91, 'Tarun': 99, 'Reshma': 30}

In [383]:
info['Marks'].extend([95,93])

In [386]:
info['Students']

['Darshan', 'Manju', 'Hari', 'Tarun', 'Reshma', 'Manoj', 'Manoj']

In [385]:
print(len(info['Students']))
print(len(info['Marks']))
print(dict(zip(info['Students'],info['Marks'])))

7
7
{'Darshan': 90, 'Manju': 90, 'Hari': 91, 'Tarun': 99, 'Reshma': 30, 'Manoj': 93}

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [394]:
# Declaire the set
x = set()
# We add to sets with the add() method
x.add(1)
#Show
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [395]:
# Add a different element
x.add(2)
#Show
x

{1, 2}

In [396]:
# Try to add the same element
x.add(1)

In [397]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [404]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [405]:
print(list1)

[1, 1, 2, 2, 3, 4, 5, 6, 1, 1]

In [406]:
# Cast as set to get unique values
s=set(list1)

In [407]:
list(s)

[1, 2, 3, 4, 5, 6]

In [408]:
list(s)
# or
list(set(list1))

[1, 2, 3, 4, 5, 6]

In [409]:
s

{1, 2, 3, 4, 5, 6}

## clear
removes all elements from the set

In [410]:
s.clear()

In [411]:
s

set()

## copy
returns a copy of the set. Note it is a copy, so changes to the original don't effect the copy.  
Will Learn More about copy (There are 3 types of copy)
1. 'Normal copy'
2. 'Shallow copy'
3. 'Deep copy'

In [74]:
s = {1,2,3}
sc = s.copy()

In [75]:
sc

{1, 2, 3}

In [76]:
s

{1, 2, 3}

In [77]:
s.add(4)

In [78]:
s

{1, 2, 3, 4}

In [79]:
s

{1, 2, 3, 4}

In [80]:
sc

{1, 2, 3}

## difference
difference returns the difference of two or more sets. The syntax is:

    set1.difference(set2)
For example:

In [194]:
# Difference
set1 = {2,4,5,6}
set2 = {5,6,7,8}
set1.difference(set2)      # It print only those data which are present in set1 and that are not present in set2

{2, 4}

## difference_update
difference_update syntax is:

    set1.difference_update(set2)
the method returns set1 after removing elements found in set2

In [413]:
s1 = {1,2,3}

In [414]:
s2 = {1,4,5}

In [415]:
s1.difference_update(s2)

In [416]:
s1

{2, 3}

## discard
Removes an element from a set if it is a member. If the element is not a member, do nothing.

In [423]:
s = {1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [424]:
s.discard(2)

In [425]:
s

{1, 3, 4, 5}

In [426]:
s.discard(5)
s

{1, 3, 4}

In [427]:
s.discard(10)

In [428]:
s

{1, 3, 4}

## intersection and intersection_update
Returns the intersection of two or more sets as a new set.(i.e. elements that are common to all of the sets.)

In [434]:
s1 = {1,2,3}

In [435]:
s2 = {1,2,4}

In [436]:
s1.intersection(s2)

{1, 2}

In [437]:
s1.intersection_update(s2)      # intersection update will update the original set

In [438]:
s1

{1, 2}

In [439]:
s2

{1, 2, 4}

### Union 
union will print you the unique records from both the variable

In [440]:
print(s1,s2)

{1, 2} {1, 2, 4}

In [441]:
s1.union(s2)

{1, 2, 4}

In [442]:
s1.add(3)

In [95]:
print('s1 =',s1)
print('s2 =',s2)

s1 = {1, 2, 3}
s2 = {1, 2, 4}

## symmetric_difference 
symmetric difference will print non common records from both the variables

In [443]:
print('s1 =',s1)
print('s2 =',s2)

s1 = {1, 2, 3}
s2 = {1, 2, 4}

In [444]:
s1.symmetric_difference(s2)

{3, 4}

### difference
difference will print only difference from one variable to other variable

In [98]:
s2.difference(s1)

{4}

In [99]:
s1.difference(s2)

{3}

In [100]:
s2 - s1

{4}

## isdisjoint
This method will return True if two sets have a null intersection.

In [103]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}

In [104]:
s1.isdisjoint(s2)

False

In [105]:
s1.isdisjoint(s3)

True

In [106]:
s2.isdisjoint(s3)

True

## issubset
This method reports whether another set contains this set.

In [448]:
s1 = {1,2}
s1

{1, 2}

In [449]:
s2

{1, 2, 4}

In [450]:
s1.issubset(s2)

True

In [451]:
s2.issubset(s1)

False

In [111]:
s1 = {1,2}
s3 = {1,2}
s1.issubset(s3)

True

## issuperset
This method will report whether this set contains another set.

In [452]:
s2.issuperset(s1)

True

In [453]:
s1.issuperset(s2)

False

## union
Returns the union of two sets (i.e. all elements that are in either set.)

In [454]:
s1.union(s2)

{1, 2, 4}

## update
Update a set with the union of itself and others.

In [115]:
s1.update(s2)

In [116]:
s1

{1, 2, 4}

**----------------------------------- Great You are done with Data types in Python -------------------------------------**    
**-----------------------------------             Happy Learning                   -------------------------------------**