### For Loop:-
A for loop is a control flow statement that executes code for a predefined number of iterations. The keyword used in this control flow statement is “for”. When the number of iterations is already known, the for loop is used.

Here's the general format for a for loop in Python:

for item in object:
    statements to do stuff

## Looping through a list

In [15]:
for i in range(2,101):
    if i%2 ==0:
        print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [22]:
a = [23,44,45,85,42,24,77,42,45,90]

for i in a:
    if i>50:
        continue
    print(i)

23
44
45
42
24
42
45

In [26]:
def prime(start,end):
    for i in range(start,end):
        if i > 1:
            for j in range(2,i):
                if i%j==0:
                    break
            else:
                print(i)

prime(2,30)

In [20]:
for i in range(1,50):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break
        else:
             print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [18]:
a = [23,4,21,56,42,7,29]
even = []
odd = []
for i in a:
    if i%2 !=0:
        odd.append(i)
    else:
        even.append(i)
        
print('Even Numbers = ',even)
print('Odd Numbers =',odd)

Even Numbers =  [4, 56, 42]
Odd Numbers = [23, 21, 7, 29]

In [5]:
# Will use for loop to print the each element for each iteration
data=[1,2,3,4,5]
for i in data:
    print(i)

1
2
3
4
5

In [7]:
print('Odd =',odd)
print('Even =',even)

Odd = [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]
Even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [29]:
even=list(range(0,25,2))     
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [9]:
odd = list(range(1,25,2))
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23]

In [6]:
odd=[]
even=[]

for i in range(25):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

In [8]:
# List comprehension
even=[i for i in range(25)  if i%2==0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [3]:
# or the same code can be writen like this

for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

## Looping through a string

In [38]:
txt='Fear has 2 meaning, forget everything and run, face everything and raise'

for i in txt:      # if iterate through each and every char because string is a sequence(you can use split to get each words) 
    print(i)

F
e
a
r

h
a
s

2

m
e
a
n
i
n
g
,

f
o
r
g
e
t

e
v
e
r
y
t
h
i
n
g

a
n
d

r
u
n
,

f
a
c
e

e
v
e
r
y
t
h
i
n
g

a
n
d

r
a
i
s
e

In [5]:
for i in txt.split():
    print(i)

Fear
has
2
meaning,
forget
everything
and
run,
face
everything
and
raise

In [6]:
for i in txt.split(','):
    print(i)

Fear has 2 meaning
 forget everything and run
 face everything and raise

### The range() Function

The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [7]:
for i in range(6):    # Note that range(6) is not the values of 0 to 6, but the values 0 to 5.
    print(i)

0
1
2
3
4
5

The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(start,stop,step):  
-->By default the step size =1

In [9]:
# Will print even numbers from 1,20
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [14]:
# You can use if statement in loop
for i in range(2,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [42]:
# You can use if statement in loop
for i in range(2,21):
    if i%2==0:
        print(i)
print('Yes i learnt how to print even numbers')

2
4
6
8
10
12
14
16
18
20
Yes i learnt how to print even numbers

### Nested Loops
Nested loop is a loop inside a loop          
The inner loop will be executed one time for each iteration of the outer loop

In [43]:
name = ['Jeevan','Jagruti','Neha','Chandana']
subjects= ['Mysql','Python','Stats']
print('Name , Subjects')
for i in name:
    for j in subjects:
        print(i,'--->',j)
    print('i am going for outer loop')

Name , Subjects
Jeevan ---> Mysql
Jeevan ---> Python
Jeevan ---> Stats
i am going for outer loop
Jagruti ---> Mysql
Jagruti ---> Python
Jagruti ---> Stats
i am going for outer loop
Neha ---> Mysql
Neha ---> Python
Neha ---> Stats
i am going for outer loop
Chandana ---> Mysql
Chandana ---> Python
Chandana ---> Stats
i am going for outer loop

In [43]:
list(zip(name,subjects))

[('Jeevan', 'Mysql'), ('Jagruti', 'Python'), ('Neha', 'Stats')]

### Break Statement

With the break statement we can stop the loop before it has looped through all the items:

In [50]:
number=[20,60,90,120,180,30]
for i in number:
    if i >100:
        break
    print("current number:",i)

current number: 20
current number: 60
current number: 90

### Break in Nested Loop

In [46]:
for i in range(1,11):
    if i>5:
        break
    print('Multiplication table of ',i)
    for j in range(1,11):
        print(i*j,end=' ')
    print()

Multiplication table of  1
1 2 3 4 5 6 7 8 9 10
Multiplication table of  2
2 4 6 8 10 12 14 16 18 20
Multiplication table of  3
3 6 9 12 15 18 21 24 27 30
Multiplication table of  4
4 8 12 16 20 24 28 32 36 40
Multiplication table of  5
5 10 15 20 25 30 35 40 45 50

In [24]:
# Now will try to pring Prime number from 1 to 100
##  Prime Number is nothing but the number is divisible by 1 and itself

start=1
end=101

for i in range(start,end):
    if i>1:
        for j in range(2,i):
            if i%j==0:
                break 
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [25]:
# Factorial 
factorial=int(input('Enter the number'))
output=1
for i in range(factorial,0,-1):
    output*=i
print(output)

Enter the number5
120

The Fibonacci numbers are the numbers in the following integer sequence.
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ……..
In mathematical terms, the sequence Fn of Fibonacci numbers is defined by the recurrence relation 

    Fn = Fn-1 + Fn-2
with seed values  

   F0 = 0 and F1 = 1.

In [28]:
# Fibonacci Series

fibonacci=int(input('Enter the number'))
a=0
b=1
print(a)
print(b)
for i in range(fibonacci-2):
    c=a+b
    a=b
    b=c
    print(c)

Enter the number10
0
1
1
2
3
5
8
13
21
34

# Continue Statement in Python

The continue statement skip the current iteration and move to the next iteration.

In [48]:
# if i want to print only odd number
for i in range(10):
    if i==2:
        continue
    else:
        print(i)

0
1
3
4
5
6
7
8
9

In [52]:
number=[2,3,11,727,7]
for i in number:
    print("current number is:",i)
    if i>10:
        continue
        
    print("square of the number:",i**2)

current number is: 2
square of the number: 4
current number is: 3
square of the number: 9
current number is: 11
current number is: 727
current number is: 7
square of the number: 49

# Pass statement in python

A pass statement is a python null statement

In [1]:
for i in range(10):
    if i%2==0:
        pass

In [64]:
# if i want to skip 3 we can use pass statement (it is null statement)
for i in range(10):
    if i==3:
        pass
    else:
        print(i)

0
1
2
4
5
6
7
8
9

### While Loop
A loop that runs a single statement or a set of statements for a given true condition. This loop is represented by the keyword "while." `When the number of iterations is unknown`, a "while" loop is used. The statement is repeated until the boolean value is false. Because the condition is tested at the beginning of a while loop

In [66]:
i=1
while i<6:
    print(i)
    i+=1

1
2
3
4
5

# break statement by using while loop 
if we found any space in the name stop the loop

To find space use .isspace() inbuilt function

In [54]:
name="Jeevan Raj"
len(name)

10

In [3]:
name="Jeevan Raj"
i=0
while i<len(name):
    if name[i].isspace():
        break
    print(name[i],end="")
    i+=1

Jeevan

# Continue Statement in Python

The continue statement skip the current iteration and move to the next iteration.

In [43]:
i=0
while i<6:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6